<div class="container">
    <h1>Hola Binevenido a mi primera app</h1>
    <h2>{{welcome}} </h2>
    <ul>
    <li *ngFor="let task of tasks()">
    {{task}}
    </li>
    </ul>
    <hr/>

    <h2>
    {{'Hola'.repeat(4)}}
    </h2>
    <p>
    la suma de 3 + 3 es {{3+3}}
    </p>
    <p>Hola soy {{name()}} y mi edad es {{age}} </p>
    <hr/>
    <img [src]="person().avatar" alt="">
    <input type="text" [value]="person.name">
    <button [disabled]="disabled">click me</button>
    <p>persona: {{person().name}}</p>
    <hr/>
    <img [src]="perro.img" alt="">
    <input type="text" [value]="perro.name">
    <input type="text" [value]="perro.age">
    <button [disabled]="disabledPerro">Save</button>
    <hr/>
    <button (click)="clickHandler()">Click me</button>
    <button (dblclick)="clickHandler()">double me</button>
    <p> (change)</p>
    <input type="number" [value]="person().age"(change)="changeHandle($event)">
    <p> (change)</p>
    <input type="text" [value]="person().name"(change)="changeHandle($event)">
    <p>(Keydown)</p>
    <input type="text" [value]="person().name"(keydown)="keyDouwnHundle($event)">
    <p>(Keydown)</p>
    <input type="text" [value]="person().name"(keydown.shift.t)="clickHandler()">
    <ul>
      <p>Total: {{tasks().length}} </p>
    <li *ngFor="let task of tasks(); index as i">
     {{i}} {{task}}
      </li>
    </ul>
    <h1>Signals</h1>
    <input type="text" [value]="name()"(change)="changeHandle($event)">
    <p>name: {{name()}} </p>
    <hr>
    <div *ngIf="1 !== 1">
      My contend
    </div>
    <hr>
    <div *ngIf="name() == 'Yober'">
      Soy Yober
    </div>
    <input type="number" [value]="person().age"(change)="changeAge($event)">


    <div *ngIf="person().name == 'Yober' && person().age>18; else miBloque">
      Soyt yober y tengo 29 años
    </div>
    <ng-template #miBloque>
      Soy yober y soy menor de 18
    </ng-template>
    <hr/>
    <input type="text" [value]="person().name"(change)="changeName($event)">
    <div [ngSwitch]="person().name" >
      <p *ngSwitchCase="'nicolas'">mi nombre es nicolas</p>
      <p *ngSwitchCase="'julian'">mi nombre es julina</p>

      <p *ngSwitchCase="'ana'">mi nombre es ana</p>
      <p *ngSwitchDefault>YO NO SOY NADIE</p>


    </div>
    <hr/>
    <input type="color" [formControl]="colorControl">
    <p>color: {{colorControl.value}} </p>



  </div>
